ldapmavis-mt behaviour on CTRL_D at password prompt

Hi Marc,

I've been investigating and found that under certain circumstances, hitting ctrl-d / cmd-d at the password prompt when logging into a device, can bypass the ldapmavis-mt authentication and proceed to evaluate in the `ruleset` / `profiles` in tac-plus-ng.  I've not managed to replicate this in the original perl `mavis_tacplus-ng_ldap.pl`.

Here's what I've found.

Given a config something like:

```
id = spawnd {
  listen { port = 4949 }
  spawn {
    instances min = 10
    instances max = 100
  }
  background = no
}

id = tac_plus-ng {
  debug = ALL

  authentication fallback = permit

  mavis module = groups {
    groups filter = /^$/
  }

  # mavis module = external {
  #   setenv LDAP_SERVER_TYPE="microsoft"
  #   setenv LDAP_HOSTS = "foo"
  #   setenv LDAP_NESTED_GROUP_DEPTH=-1
  #   .... other LDAP envs
  #   exec = /application/tac_plus-ng/lib/mavis/mavis_tacplus-ng_ldap.pl
  # }

  mavis module = external-mt {
    setenv LDAP_SERVER_TYPE="microsoft"
    setenv LDAP_HOSTS = "foo"
    setenv LDAP_NESTED_GROUP_DEPTH=-1
    # .... other LDAP envs
    exec = /application/tac_plus-ng/sbin/ldapmavis-mt

  user backend = mavis
  login backend = mavis
  pap backend = mavis
  mavis cache timeout = 1800
  cache timeout = 1800

  device foo-device {
    address = 10.10.10.10
    key = fookey
    enable 15 = clear secret
  }

  profile networks {
    script {
      if (service == shell) {
        set priv-lvl = 15
      }
      permit
  }

  ruleset {
    rule general-users {
      enabled = yes
      script {
        if (memberOf =~ /^CN=Networks_Example_TACACS_Group,/) { profile = networks permit }
      }
    }
  }
}
```

Then at the device password prompt, with username who is in the AD group above, hitting cmd-d at password prompt sends a packet body of `00 00 00 00 00` (according to debug output) which logs:
```
looking for user some_test_user realm default
user lookup failed
```
and then processing of the user within the ruleset / profile happens and a resulting permit is sent back


If I comment out the ldapmavis-mt and use the external perl module, it logs the same `user lookup failed` message, but that is immediately followed by:
```
shell login for 'some_test_user' from 10.1.1.1 on ssh failed (backend error) [No password, did you mean noauth or anonymous ?]
```



Whats also interesting when using ldapmavis-mt is that if I login with the user successfully first, then logout and upon second login I hit cmd-d at the password prompt, it will fail me.

Would you mind taking a look to see if you can replicate please?

Thanks
Sandy

Hi Sandy,

thanks for reporting. This really sucks.

I usually test with an OpenLDAP server, and I'm getting an "Server is unwilling to perform: unauthenticated bind (DN with no password) disallowed" error when using an empty password.

When testing against Windows Server 2019, the ldap_sasl_bind_s() operation returns LDAP_SUCCESS, which looks fundamentally wrong. I don't know the core reason for that -- could be my API usage, the client routines or the server itself.

I've pushed a quick fix.

Thanks,

Marc


Thats fixed it, much appreciated for the super quick response (on a Saturday) Marc, thank you sir!

Hi Sandy,

you're welcome, thanks!

I'll do some more analysis on this. According to a packet capture AD indeed returns a success code for a simple bind without password. This likely results in an anonymous bind succeeding, but I always thought AD wouldn't support anonymous binds at all.

Cheers,

Marc

Hi Sandy,

I'm closing this issue, more details on that rather embarrassing vulnerability can be found at [https://github.com/MarcJHuber/event-driven-servers/security/advisories/GHSA-3wm8-6774-6grx](https://github.com/MarcJHuber/event-driven-servers/security/advisories/GHSA-3wm8-6774-6grx).

Reference: RFC 4513, section 5.1.2, explicitly specifies that LDAP behavior, but I'm sorting this into the "broken by design" category, and I'm certainly not alone with that.

Cheers,

Marc 